{% for rip in host.rips %}
  router rip
  address-family ipv4 vrf {{ rip.vrfv }}
  {% for bgp in host.bgps %}
    redistribute bgp {{ bgp.bgpnu }}
  {% endfor %}
      network {{ rip.net1 }}
      network {{ rip.net2 }}
      network {{ rip.net3 }}
      no auto-summary
      version 2
      exit-address-family
 {% endfor %}
