{% for bgp in host.bgps %}
  router bgp {{ bgp.bgpnu }}
  neighbor {{ bgp.neighbor }} remote-as {{ bgp.bgpnu }}
  neighbor {{ bgp.neighbor }} update-source lo0
  address-family vpnv4
  neighbor {{ bgp.neighbor }} activate
  neighbor {{ bgp.neighbor }} send-community extended
  {% for vrf in host.vrfs %}
  address-family ipv4 vrf {{ vrf.def }}
   neighbor {{ bgp.neighbor }} remote-as {{ bgp.bgpnu }}
   neighbor {{ bgp.neighbor }} activate
   redistribute rip 
   redistribute static
  {% endfor %}
 {% endfor %}
